.profile__subtitle {
  overflow: hidden;
  margin-top: 2px;
  grid-column-start: 1;
  grid-column-end: 3;
  text-overflow: ellipsis;
}

@media screen and (max-width:320px) {
  .profile__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 28px;
    margin-top: 4px;
  }
}
